.mission {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    align-items: center;
}

.description {
    margin-top: 15px;
    background-color: #ccc;
    text-align: justify;
    box-sizing: border-box;
    padding: 3%;
}

hr {
    margin-bottom: 3%;
    margin-top: 3%;
}
.missionImg {
    width: 100%;
}