/*button {
    margin: 1%;
}
hr {
    padding: 1%;
}*/
.editButton {
    margin-right: 2%;
}
/*
.buttonsCol {
    margin-bottom: 1%;

}*/
h1 {
    margin-bottom: 10%;
    text-align: center;
}
.row {
    margin-top: 2%;
}
button {
    margin-bottom: 2%;
}