.not-happened {
  background-color: lightcoral;
  padding: 5px;
}

.not-successful {
  background-color: rgb(255, 255, 103);
  padding: 5px;
}

.success {
  background-color: lightgreen;
  padding: 5px;
}
.formCenter {
  margin-top: 5%;
  margin-right: 25%;
  margin-left: 25%;
}
.checkMargin {
  margin-left: 5%;
}

@media only screen and (max-width: 600px) {
  .formCenter {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
  }
}
li {
  margin-bottom: 1%;
}

.strong-checkbox input {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(151, 22, 15); 
  cursor: pointer;
}

.form-check-input:checked {
  background-color: rgb(151, 22, 15) !important;
  border-color: rgb(151, 22, 15) !important;

}
