/*button {
    margin: 1%;
}
hr {
    padding: 1%;
}*/
.editButton {
    margin-right: 2%;
}
/*
.buttonsCol {
    margin-bottom: 1%;

}*/
h1 {
    margin-bottom: 10%;
    text-align: center;
}
.row {
    margin-top: 2%;
}
button {
    margin-bottom: 2%;
}

.strong-checkbox input {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(151, 22, 15); 
  cursor: pointer;
}

.form-check-input:checked {
  background-color: rgb(151, 22, 15) !important;
  border-color: rgb(151, 22, 15) !important;

}