
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.headerImg {
    width: 100%;
    height: auto;
    margin: auto;
}
h1{
    margin-top: 5%;
    text-align: center;
}
nav img {
    width: 100%;
}

.navbar {
    background-color: rgb(151, 22, 15);
    display: flex;
    align-items: center;
    font-size: large;
}

.navbar a {
    text-decoration: none;
    margin-right: 30px;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    padding: 20px;
}


.content {
    width: 75%;
}

.loginBtn {
    background-color: white;
    cursor: pointer;
    border-radius: 20px; 
    font-size: large;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 150px;
}

.linkColor {
    color: white;
}
/*
@media only screen and (max-width: 800px){

}

@media only screen and (min-width: 1200px){
    .headerImg{
        display: none;
    }
    
}*/

footer{
    background-color: rgb(151, 22, 15);
    display: flex;
    align-items: center;
    font-size: large;
    color: white;
    text-align: center;
}
.attention {
    text-decoration-line: underline;
    text-decoration-style: double;
}
