.mission {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}
/*
.mission-img {
    width: 250px;
    height: 180px;
    margin-right: 20px;
}
.mission-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}*/

.description {
    margin-top: 15px;
    background-color: #ccc;
    text-align: justify;
    box-sizing: border-box;
    padding: 3%;
}

aside {
    width: 25%;
    padding-left: 10%;
}

.sidebar-box p {
    margin: 0;
    font-weight: bold;
}


.sidebar-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.sidebar-img {
    width: 45%;
    object-fit: cover;
}


hr {
    margin-bottom: 3%;
    margin-top: 3%;
}