.main-bg {
    background-color: #a80f0f;
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 30px;
}


.login-card {
  border-radius: 30px;
  overflow: hidden;
}

.left-side {
  background-color: white;  
}

.logo-img {
  width: 100%;
}

.right-side {
  background-color: #bfbfbf;
  padding: 60px 40px;
}

.custom-input {
  background-color: #e9e9e9;
  border: none;
  padding: 15px;
}

.custom-input:focus {
  box-shadow: none;
  border: 1px solid #999;
}

.login-button {
  background-color: #a80f0f !important;
  border: none;
  border-radius: 25px;
  padding: 10px 40px;
  color: white !important;
  font-weight: 500;
}

.login-button:hover {
  background-color: black !important;
  color: white !important;
}
@media screen and (min-width: 768px) {
    .left-side
    {
        display: none;
    }
}